.gitlab-logo {
   position: absolute;
   right: 0.5rem;
   top: 0.5rem;
   height: 50px;
   z-index: 2;
}

.login-container {
   display: flex;
   width: 100vw;
   height: 100vh;
}

.login-left {
   width: 65vw;
   background-image: url('../../assets/takebackcontrol.png');
   background-size: 70%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-height:100vh;
}



.login-right {
   width: 35vw;
   background-color: #E8F9FD;
   height: 100vh;
   z-index: 2;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.lr-title {
   margin-top: 2rem;
}

.login-forum {
   height: 80vh;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.lr-entry {
   display: flex;
   flex-direction: column;
   justify-content: center;
   border: 1px black solid;
   padding: 2rem 4rem;
   height: 10vh;
   box-shadow: #199754 7px 7px;
}

.lr-entry-title {
   margin-left: -1rem;
   margin-bottom: 1rem;
}

.lr-entry-text {
   height: 1.5rem;
   width: 15rem;
   font-size: 20px;
   outline: none;
}

.lr-submit {
   width: max-content;
   padding: 0.25rem 1rem;
   font-size: 18px;
   font-family: 'Courier New';
   font-weight: 100;
   border: #199754 2px solid;
   box-shadow: black 5px 5px;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.25s;
   margin-bottom: 0.5rem;
}

.lr-submit:active {
   transform: scale(0.97);
}

.login-background-text {
   font-size: 80px;
   color: #E8F9FD;
   width: max-content;
}

.ll-box {
   width: 50%;
   height: 50%;
   background-color: #59CE8F;
   box-shadow: 10px 10px black;
   z-index: 1;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}


.ll-box-top {
   border-radius: 10px 10px 0px 0px;
   background-color: #199754;
   height: 2rem;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: end;
   font-weight: 100;
   font-size: 30px;
}

.ll-box-writing {
   margin-top: 12rem;
   font-size: 40px;
   font-weight: 700;
}

@media only screen and (max-width: 1200px) {
   .login-left {
      width: 60vw;
   }

.login-right {
   width: 40vw;
}

.ll-box {
   width: 50%;
   height: 40%;
}

.ll-box-writing {
   margin-top: 9rem;
   font-size: 30px;
}
 }

 @media only screen and (max-width: 1050px) {
   .login-left {
      width: 55vw;
   }

.login-right {
   width: 45vw;
}

.ll-box {
   width: 50%;
   height: 30%;
}

.ll-box-writing {
   margin-top: 6.5rem;
   font-size: 25px;
}

.lr-entry {
   transform: scale(0.8);
}
 }

@media only screen and (max-width: 850px) {
   .login-left {
      display: none;
   }

.login-right {
   width: 100vw;
}

.ll-box {
   width: 50%;
   height: 30%;
}

.ll-box-writing {
   margin-top: 6.5rem;
   font-size: 25px;
}

.lr-entry {
   transform: scale(1);
}
 }

 @media only screen and (max-width: 450px) {


.ll-box-writing {
   margin-top: 6.5rem;
   font-size: 25px;
}

.lr-entry {
   transform: scale(0.8);
}

.lr-submit {
   transform: scale(0.8);
}

.lr-submit:active {
   transform: scale(0.75);
}

.login-forum {
   width: 90vw;
}
 }

 @media only screen and (max-width: 380px) {

   .lr-entry-text {
      transform: scale(0.9);
   }

   .lr-entry-title {
      margin-left: -0.5rem;
   }

   .lr-submit {transform: scale(0.7);}

   .lr-submit:active {
      transform: scale(0.67);
   }

   .login-forum {
      width: 90vw;
   }
    }